*{
	color: gray;
}

.row{
	width: 100%;
}

#body{
	background: orange;
}


/*  NAVAGAÇÂO  */
.navbar{
	border-bottom: 1px solid #bbb;
}

.search-primary{
	height: 25px;
}

.fas.fa-search{
	font-size: 15px;
}

#button-addon2{
	height: 25px;
	padding: 0 10px;
}

.nav-link {
	padding: 0 1rem;
}

.dropdown-menu {
	right: 0;
	left: inherit;
}
