*{
	color: #43484c;
	font-family: 'Roboto', sans-serif;
}

a{
	color: #43484c;
}

a:hover{
	color: #43484c;
}

.none{
	display: none;
}

#rs{
	/*clear: both;*/
	margin: 13px;
	right: 0;
	float: right;
	background: #f8f9fa;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
}

#body{
	background: #e28b03;
}

#icon{
	padding: 0;
	/*width: 100%;*/
}

#icon > #mais, #icon > #menos{
	padding: 1px;
	background: green;
	width: 25px;
	height: 25px;
}

#icon > #menos{
	background: red;
}

#quantidade{
	width: 100%;
	margin-bottom: 10px; 
}

/*  NAVAGAÇÂO  */
.navbar-light{
	border-bottom: 1px solid #bbb;
	padding: 0;
	width: 100%;
}

.search-primary, .btn-search-primary{
	height: 28px;
	border-radius: 0;
}

.fas.fa-search{
	font-size: 15px;
}

.btn-search-primary{
	padding: 0 10px;
}

.dropdown-menu {
	right: 0;
	left: inherit;
}

.btn-sm {
	padding: 0;
}

.btn:focus {
	box-shadow: none;
}

.form-control:focus {
	border-color: #ffa500;
	box-shadow: 0 0 0 0.2rem rgba(226, 104, 20, 0.25);
}

.admin-home{
	margin-top: 15px;
}

.nav-item{
	padding: 0.6rem;
}

.nav-item:hover{
	background: #dddede;
}

.btn:not(:disabled):not(.disabled) {
	cursor: auto;
}

.dropdown-menu {
	border-radius: 0;
}

.btn-group > .nav-link{
	padding: 0.5rem;
}

.list-group-item {
	background-color: #f8f9fa;
	border-radius: 0;
	padding: .5rem 1.25rem;
}

.list-group-item:first-child, .list-group-item:last-child, .list-group-item.disabled{
	border-radius: 0;
}

.list-group-item:hover, .list-group-item a:hover, .list-group-item:hover a,  .list-group-item:hover i{
	background-color: #e8e7e7;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.list-group-item.disabled, .list-group-item:disabled {
	background-color: #bbb;
	color: #f8f9fa;
}

#primary{
	margin-top: 1.4rem;
}

.nav-lateral{
	margin-top: 1.4rem;
}

.menu-icon{
	width: 30px;
}

#footer{
	margin-top: 1.4rem;
	padding: 1.4rem;
}

.disabled.header{
	padding: .1rem;
	border-radius: .5rem .5rem 0 0;
}

.disabled.footer{
	padding: .1rem;
	border-radius: 0 0 .5rem .5rem;
}

.card{
	border: 0;
}

.conteudo{
	background: #f8f9fa;
	height: 100%;
	width: 100%;
	padding: 1rem;
}

.title-pag{
	float: left;
	font-size: 20px;
}

.title-model{
	font-size: 20px;
}

.btn.btn-primary.btn-adicionar{
	margin-bottom: 10px;
	float: right;
	cursor: pointer;
}

.modal-content{
	padding: 20px;
}

.nav-tabs .nav-item {
	padding: 0;
	margin-bottom: 10px;
	border-radius: 10px;
}

.nav-tabs .nav-link {
	padding: 0;
	padding: 0 10px;
	border-radius: 10px;
}


.nav-tabs {
	border: none;
}

.nav-tabs .nav-link.active{
	color: #f8f9fa;
	background-color: #e28b03;
}

.msg-principal{
	position: absolute;
	top: 0;
	left: 24px;
	width: 18px;
}

.msg-principal > p{
	background: #e28b04;
	padding: 2px;
	color: white;
	font-size: 10px;
	border-radius: 100%;
}

.quantidade-venda{
	width: 300px;
	margin: 0 auto;
}

.card .btn:not(:disabled):not(.disabled) {
	cursor: pointer !important;
}

.card .list-group-item:hover, .card .list-group-item a:hover, .card .list-group-item:hover a, .card  .list-group-item:hover i{
	background-color: #f8f9fa;
	text-decoration: none;
	color: #43484c;
	cursor: auto;
}


.rounded-circle {
	position: absolute;
	right: 0;
	height: 70px;
	padding: 5px;
}

.relatorio-title{
	font-size: 14px;
}

#novo-elemento, #detalhamento, #noticia, .relatorio, .editar-perfil, #card{
	clear: both;
}