*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	background: #972247;
	background: #EEEEEE;
	font-family: 'Mukta Vaani', sans-serif;
}

#content{
	background: #fff;
	padding: 10px;
}

.foto-user{
	border-radius: 50%;
	width: 60px
	height: 60px
}

